.minicartwrapperContainer{
    width: 0px;
}
.minicartwrapperContainer :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 0px;
}
.minicartCheckoutButton :global(.vtex-button) {
    background: #4F32FE 0% 0% no-repeat padding-box;
    border-radius: 27px;
    width: 100%;
    border: none;
    opacity: 1;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    padding: .6rem;
    text-transform: none;
  }
  @media (max-width: 640px){
  .buttonLink{
      display: none;
  }
}
:global(.vtex-minicart-2-x-minicartCheckoutButton .vtex-button){
    background: #4f32fe;
    border-radius: 27px;
    min-height: 3.3rem;
    min-width: 17rem;
}
.minicartContainer :global(.vtex-button):focus {
    background-color: #ffffff;
    outline: #ffffff;
  }
  
  .minicartContainer :global(.vtex-button):hover {
    background-color: #ffffff;
  } 
  .container :global(.relative):focus {
    outline: #ffffff;
  } 
  .container :global(.vtex-button):focus {
    border-color: #ffffff;
    background-color: #ffffff;  
  }