@media (max-width:640px){
.vtex-login-2-x-container{
    display: none;
}
}


:global(.vtex-minicart-2-x-openIconContainer){
    width: 34px;
  }
:global(.vtex-login-2-x-container ){
    width: 47ypx;
}
