
.styledLinkContent :global(.vtex-menu-2-x-styledLinkContent--footer1){
    padding-left: 80px;
}

.styledLinkContent--footer1 {
    font-weight: bold;
    font-size: 16px;
    color: black;
    background: #F6F5F8;
    height: 55px;
    padding-top: 20px;
    padding-left: 22px;
    max-width: 420px;
    width: 100%;
    margin:0 auto;
    
}
[data-vtex-block-id="menu-item#sobre-mobile"]{

        padding-top: 10px;
    
}

.styledLinkContainer--footer1 {
    margin:0;
    padding: 0px;
    background: #F6F5F8;
   
}
.styledLinkContent--footer{
    height: 33px;
    text-align: left;
    font: normal normal normal 14px/25px Nunito Sans;
    color: #847B91;
}
@media (max-width: 640px){
    .styledLinkContent--footer{
    padding-left: 83px;
    text-align: left;
    font: normal normal normal 14px/50px Nunito Sans;
    color: #847B91;
}
}
.styledLinkContainer--footer{
    margin-left: 0px;
}
.accordionIcon{
    color:black;    
}
.styledLinkContainer :global(.vtex-flex-layout-0-x-flexRowContent){
    padding: 0px;
}
.styledLinkContainer :global(.vtex-store-components-3-x-container){
    padding: 0px;
}
.styledLinkContent--todosd{

color: var(--unnamed-color-4f32fe);
font-weight: bold;
font: normal normal bold 16px/50px Nunito Sans;
letter-spacing: 0px;

}
.styledLinkContent--items2:hover{
    color: #4F32FE;
   
    width: 200px;

}
.styledLinkContent--items3:hover{
    color: #4F32FE;
 
    width: 200px;

}

.styledLinkContent--eletrodsk:hover{
    color: #4F32FE;
}

.menuItem :global(.vtex-menu-2-x-styledLinkContainer--itemsmenu){
    padding:0px;
}

.styledLinkContent--itemsmenu1:hover{
    border-bottom: 3px solid #4F32FE;
    font-weight: bold;

    height: 29px;
    height: 38px;
    font: normal normal normal 16px/50px Nunito Sans;
}
.styledLinkContent--saldao{
   
    width: 48px;
    height: 20px;
    color: var(--unnamed-color-4f32fe);
    text-align: left;
    font: normal normal 800 15px/12px Nunito Sans;
    color: #4F32FE;  
}
.styledLinkContent--saldao::before{
    content:url(assets/saleRoxo.svg);
    margin-top: -5px;
    padding-right: 7px;
    margin-top: -4px;
}
.container :global(.vtex-store-components-3-x-container){
    padding-bottom: 0px;
}
.styledLinkContent :global(.vtex-store-components-3-x-container){
    padding-bottom: 0px;
}
:global(.vtex-flex-layout-0-x-flexRow--menu-row){
    max-width: 1260px;
    margin: 0 auto;
}

.menuItem--items2:hover{
    background: #F6F5F8;
 width: 250px;
 height: 40px;
 font: normal normal normal 14px/35px Nunito Sans;

}
.menuItem--items3:hover{
    width: 250px;
    height: 40px;
    background: #F6F5F8;
    font: normal normal normal 14px/35px Nunito Sans;
   
}
:global(.vtex-flex-layout-0-x-flexRowContent){
    padding: 0px;
}
.accordionIcon{
    display: none;
}
