.styledLinkContent--footer1{
    font-weight: bold;
    font-size: 16px;
    color: black;
    background: #F6F5F8;
    height: 55px;
    margin: 0 -23px;padding-top: 20px;
    padding-left: 67px;
   
    
}
.styledLinkContent--footer{
    
    text-align: left;
    font: normal normal normal 14px/50px Nunito Sans;
    color: #847B91;
    padding-left: 84px;
    border-bottom: 0px solid #0E006026;
}
.accordionIcon{
    display: none;
}