
.quantitySelectorTitle{
    text-align: left;
    font: normal normal normal 14px/55px 'Nunito Sans';
    letter-spacing: 0px;
    color: #000000;
    opacity: 1;
    margin: 1rem 0;
    font-size: 16px;
}
:global(.vtex-store-components-3-x-productNameContainer--quickview){
    margin-top: 50px;
}
.productNameContainer--quickview :global(.vtex-flex-layout-0-x-flexCol) {
    align-items: center;
}
.quantitySelectorStepper :global(.vtex-numeric-stepper__input) {
    font: normal normal normal 14px 'Nunito Sans';
    background-color: #F6F5F8;
    border: none;
    padding: 0px;
    max-width: 56px;
    height: 39px;
}
.quantitySelectorStepper :global(.vtex-numeric-stepper__plus-button) {
    border-top-left-radius: 20px;
    height: 39px;
    border-top-right-radius: 20px;
    border-bottom-right-radius: 20px;
    width: 3em;
    height: 40px;
    border-color: #F6F5F8;
    background: #F6F5F8;
    transition: opacity 150ms ease 0s;
}
.flexRowContent--buyButton :global(.vtex-flex-layout-0-x-flexRow--buyButton){
    padding-top: 102px;
   
}

.quantitySelectorStepper :global(.vtex-numeric-stepper__minus-button){
    transition: opacity 150ms ease 0s;
    border-top-right-radius: 0;
    width: 3em;
    border-bottom-left-radius: 20px;
    height: 39px;
    border-top-left-radius: 20px;
}
