.container--deals {
  color: #ffffff;
  justify-content: center;
}
.container--shelfTitle {
  color: #727273;
  justify-content: center;
  text-align: center;
}
.headingLevel2--shelfTitle {
  font-weight: 200;
}
.container--deals .paragraph {
  margin: 0;
  top:2px;
}
.container--link {
  justify-content: center;
}
.container--question {
  justify-content: center;
}
.container--question .paragraph {
  text-align: center;
  max-width: 540px;
  margin: 0 16px;
  padding-top: 120px;
  color: #03034E;
}
.container--question .strong {
  font-size: 32px;
  line-height: 2rem;
  font-weight: 700;
}
.container--link .paragraph {
  text-align: center;
  max-width: 540px;
  padding-top: 36px;
  padding-bottom: 84px;
  color: #03034E;
}
.container--link .strong {
  font-size: 16px;
  font-weight: 700;
  text-transform: uppercase;
}

.container--link .link {
  text-decoration: none;
  font-size: 36px;
  font-weight: 300;
  color: #03034E;
}

@media only screen and (min-width: 640px) {
  .container--question .strong {
    font-size: 15px;
    line-height: 3rem;
  }
  .container--about {
    max-width: 85%;
  }
  .container--title .paragraph {
    line-height: 1.3em;
  }
}
.container--Title {
  color: black;
  font-size: 40px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 53px;
}
@media (max-width: 640px) 
{
  .container--Title {
    color: black;
    font-size: 40px;
    margin: 0 auto;
    justify-content: center;
    margin-top: 53px;
}
.container--shelfTitle{
  color: black;
  font-size: 40px;
  margin: 0 auto;
  justify-content: center;
  margin-top: 0px;
}
.headingLevel2-2 {
    color: #000000 ;
    font-size: 25px;

}
.headingLevel2--shelfTitle{
  color: #000000 ;

}
.paragraph--deals{
  font-size:15px;

}
.italic--deals{
  font-size: 20px;
  font-style: normal;
  margin-right: 20px;
}

.strong--deals{
  font-size: 16px;
}
.strong--shelfTitle{
  font-size: 24px;
}
.strong--conteudo{
  font-size: 19px;
  color: black;
  display: flex;
  justify-content: center;
  padding-top: 35px;
 
}
@media (max-width: 640px) 
{
  .strong--conteudo{
    font-size: 19px;
    color: black;
    display: flex;
    justify-content: center;
  }
}
.paragraph--conteudo{

  color: #000000;
  font: 14px/25px 'Nunito Sans';
  margin: 0px -160px;
  max-width: 740px;
  text-align: center;

}
@media (max-width: 640px) 
{
  .paragraph--conteudo{
    color: #000000;
    font: 14px/25px 'Nunito Sans';
    text-align: center;
    font:  'Nunito Sans';
    margin: 0px;
}
}
.wrapper--Title{
  text-align: center;
  color: #000000;
  font-size: 23px;
}
.wrapper--conteudo{
  display: flex;
  width: 100%;
  max-width: 350px;
  margin: 0 auto;
  margin-top: 20px;
}
.strong--shelfTitle2{
  text-align: center;
  color: #000000;
  font-size: 23px;
}
.wrapper--shelfTitle2{
  margin: 0 auto;
  justify-content: center;
  margin-top: 0px;
}
.container--textfooter{
  justify-content: center;
  font: normal normal bold 10px/14px Nunito Sans;
  color: #847B91;
  background: #F6F5F8;
  padding-top: 17px;
}
.container--textNotificationBar {
  height: 41px;
  background-color: black;
}

.paragraph--textNotificationBar {
  color: white;
  margin-bottom: 20px;
}

.strong--textNotificationBar {
  color: #2CFFF5;
}

.italic--textNotificationBar{
  font: normal normal 700 16px Nunito Sans;
  color: white;
  margin-right: 15px;
}

.strong--textNotificationBar:first-child, .strong--textNotificationBar:last-child {
  font: 22px Nunito Sans;
  font-weight: 900;
}
.container--Title2{
  text-align: center;
  color: #000000;
  font-size: 23px;
}


