.flexRowContent--menu-link,
.flexRowContent--main-header {
  padding: 0 0.5rem;
}

@media screen and (min-width: 40em) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 1rem;
  }
}
@media screen and (min-width: 80rem) {
  .flexRowContent--menu-link,
  .flexRowContent--main-header {
    padding: 0 0.25rem;
  }
}

.flexRowContent--menu-link {
  background-color: #03044e;
  color: #fff;
}

.flexRowContent--main-header {
  background-color: #f0f0f0;
}

.flexRowContent--main-header-mobile {
  align-items: center;
  background-color: #fff;
}

.flexRowContent--menu-link :global(.vtex-menu-2-x-styledLink) {
  color: #ffffff;
  font-size: 14px;
}

.flexRowContent--main-header :global(.vtex-menu-2-x-styledLink) {
  color: #727273;
  font-size: 14px;
}
.flexRow--deals {
  background-color:#4F32FE;
  padding: 14px 0px;

}

.flexRow--deals .stretchChildrenWidth {
  align-items: center;

}

.flexRow--deals .flexCol {
  align-items: center;
  display: contents;
  margin: 17px;
  width: 24px;
  height: 23px;;
}

.flexCol--filterCol {
  max-width: 500px;
  min-width: 230px;
}

.flexCol--productCountCol {
  align-items: flex-start;
}

.flexCol--orderByCol {
  align-items: flex-end;
}

.flexCol--orderByMobileCol {
  width: 42%;
}

.flexCol--filterMobileCol {
  width: 38%;
}

.flexCol--switcherMobileCol {
  width: 20%;
}

.flexRow--quickviewMainRow {
  display: flex;
  max-height: 100%;
}

.flexColChild--quickviewDetails:first-child {
  overflow-y: auto;
  height: 66% !important;
  overflow-x: hidden;
}

.flexColChild--quickviewDetails:last-child {
  height: 34% !important;
}

.flexRow--addToCartRow {
  padding-bottom: 1rem;
}
.flexCol--text{
  background: #4F32FE;
  width: 414px;
 
}
.flexRow--search :global(.vtex-input-prefix__group){
  border: 0px;
}
.flexRow--search{
  width: 100%;
}
.flexRowContent--imgs{
  display: grid;
  grid-template-columns: 1fr 1fr;
}
.flexRowContent--imgsfooter{
  background: #F6F5F8;
  justify-content: center;
  padding-top: 24px;

}
.flexRowContent--imgsfooter1{
  background: #F6F5F8;
  justify-content: center;
  height: 100px;
  border-bottom: 1px solid #0E006026;
}

.flexRowContent--payment-methods{
  padding:0px;
}
.flexColChild--payment-methods{
  padding:0px;
}
.flexRowContent{
  color: black;
  font-weight: bold;

}