.minicartwrapperContainer{
    width: 0px;
}
.minicartwrapperContainer :global(.vtex-flex-layout-0-x-stretchChildrenWidth) {
    width: 0px;
}
.minicartCheckoutButton :global(.vtex-button) {
    background: #4F32FE;
    border-radius: 27px;
    width: 100%;
    border: none;
    opacity: 1;
    font-weight: 700;
    font-size: 16px;
    margin-bottom: 10px;
    padding: .6rem;
    text-transform: none;
  }
  @media (max-width: 640px){
  .buttonLink{
      display: none;
  }
}
:global(.vtex-minicart-2-x-minicartCheckoutButton .vtex-button){
    background: #4f32fe;
    border-radius: 27px;
    min-height: 3.3rem;
    min-width: 17rem;
}
.minicartContainer :global(.vtex-button):focus {
    background-color: #ffffff;
    outline: #ffffff;
  }
  
  .minicartContainer :global(.vtex-button):hover {
    background-color: #ffffff;
  } 
  .container :global(.relative):focus {
    outline: #ffffff;
  } 
  :global(.vtex-minicart-2-x-minicartContainer) :global(.vtex-button):focus{
    border-color: #ffffff;
    background-color: #ffffff;
  }
  .container :global(.vtex-button):focus {
    border-color: #ffffff;
    background-color: #ffffff;  
  }
  :global(.vtex-minicart-2-x-openIconContainer){
    padding:0px;
  }
  .minicartTitle::before{
      
    content: "Meu carrinho";
    font: normal normal bold 16px/30px  'Nunito Sans';
    color: #17100D;
    font-size: 18px;
  }

:global(.vtex-minicart-2-x-popupBoxPosition){
  right: -46px;
  width: 399px;
  top: 100%;
}

.minicartTitle {
  font-size: 21px;
}

.minicartProductListContainer{
  margin-top: 17px;
}

  :global(.vtex-minicart-2-x-opened--minicart){
    width: 100%;
    max-width: 355px !important;
}
:global(.vtex-minicart-2-x-minicartTitle)::before{
  content: "teste"
}
@media(max-width:640px){
  :global(.vtex-minicart-2-x-minicartProductListContainer),
  :global(.vtex-flex-layout-0-x-flexRow){
    border-bottom: 1px solid #ccc;
  }
}