.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.socialNetworksContainer{
  border-bottom: 1px solid #0E006026;
  background: #F6F5F8;
  height: 67px;
  align-items: center;
  justify-content: center;
}
.flexRowContent--footer :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
}
.flexRowContainer :global(.vtex-flex-layout-0-x-flexRowContent){
  padding-bottom: 0px;
}
