.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  background: #4F32FE;
}


.newsletter {

  max-width: 100%;
  background: #4F32FE;
  margin: 0 auto;
}
.newsletter .container {
  padding: 60px 10px;
}
.label {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
@media (max-width: 640px){
.inputGroup {
  padding-bottom: 4px;
  display: block;
  color: #fff;
}
}
.inputGroup {
  padding-bottom: 4px;

  color: #fff;
}

@media (max-width: 640px){
  .inputGroup {
    padding-bottom: 4px;
    color: #fff;
  }
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators){
  background-color: transparent;
  color: #fff;
  border: none;
}
.autoCompleteOuterContainer :global(.vtex-input__suffix){
  background-color: transparent;
  color: #fff;
  border: none;
}

@media (max-width:640px){
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  border: none;
  width: 311px;
  
}
}
.inputGroup :global(.vtex-button) {
  background-color: transparent;
  border: none;

}
.buttonContainer {
  padding-top: 0px;
  margin-top:10px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media (min-width: 640px) {
  
  .label {
    font-size: 17px;
  }

  
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;

}

.imageElement--paper-plane{
  margin: 14px;
  color: white;
 
}

.searchBarContainer .input {
  background: transparent;
  border:0px;
  max-width: 100%;
}

@media (max-width: 640px){
  
  .searchBarContainer {
    background: #4F32FE;
    border:0px;
    max-width: 100%;
  }

  .searchBarContainer ::placeholder {
    color: #ffffff;
    font-family: 'Nunito Sans';
    font-weight: 700;
    letter-spacing: 0;
    vertical-align: middle;
    opacity: 1;
  }

}
.searchBarContainer :global(.vtex-styleguide-9-x-input){
  background: transparent;
  border: 0 !important;
  border-bottom: 1px solid #ccc;
  border-radius: 0;
}
.container{
  padding: 0px;
  border:0px;

  
}
.imageElement--sep1{
  padding: 10px;
}
.notificationBarInner{
  background: black;
  height: 41px;
}
.newsletter--newsletter{

  margin-bottom: 33px;
  background: #4F32FE;
  height: 309px;
  margin-top: 20px;
  
}
@media (max-width: 640px) 
{
  .newsletter--newsletter{
    background: #4F32FE;
    height: 271;
    width: 371px;
    
}
}

.label--newsletter::before{
  content: "Quer ficar por dentro de tudo?\A\A";
  font-size: 13px;
  font: normal normal bold 20px/12px 'Nunito Sans';
  font-weight: 700;
  white-space: pre-wrap;
}
@media (max-width: 640px){
  .label--newsletter::before{
   
    content: "Quer ficar por dentro de tudo?\A\A";
  font-size: 20px;
  font: normal normal bold 20px/12px 'Nunito Sans';
  font-weight: 700;
  }
  }
@media (max-width: 640px){
.label--newsletter{
  white-space: pre-wrap;
  }
}

.inputGroup :global(.vtex-store-components7-x-buttonContainer){
  background-color: transparent;
  border: none;
  margin-right: 150px;
  margin-top: 50px;
}
.flexRowContent--imgsfooter{
  display: grid;
  grid-template-columns: 0.35fr 0.35fr 0.35fr;
  grid-template-rows: 0.15fr;
  
}

/* Newsletter */

.newsletter :global(.vtex-button__label){
  font-weight: bold;
  font: normal normal 900 14px/30px 'Nunito Sans';
  font-size: 14px; 
  display: contents;
}

.imageElement--footer {
  width: 64px;
  height: 43px;
  margin: 3px;
}
.imageElement :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  background: #F6F5F8;
}

.imageElement--lets{
  width: 121px;
  height: 41px;
}
.imageElement--ebit{
  
  width: 59px;
  height: 50px;
  }

.imageElement--cert{
  width: 89px;
  height: 50px;
}
.imageElement--avanti{
  width: 148px;;
  height: 55px;
  padding-left: 67px;
}
.imageElement--avanti2{
  width: 155px;
  height: 55px;
  padding-left: 103px
}
.imageElement--vtex{
  width: 109px;
  height: 55px;
  padding-right: 67px
}



.imageElement--drones{
  
  width: 619px;
}
.imageElement--descontos{
  width: 619px;
}

@media (max-width: 640px) 
{
  .imageElement--drones{
 padding: 0px;
}
}

.inputGroup :global(.vtex-input-prefix__group){
  color: white;
  background-color:rgba(0,0,0,0.15);
  border-radius: 29px;
  height: 57px;
  width: 417px;
}
@media (max-width: 640px){

  .inputGroup :global(.vtex-input-prefix__group){
    background-color:rgba(0,0,0,0.15);
    border-radius: 29px;
    height: 57px;
    width: 317px;
   
  }
}
@media (min-width: 640px){
  .searchBarContainer :global(.vtex-input-prefix__group) {
    border: 0;
    border-radius: 0;
    margin-left: 27px;
    border-bottom: 1px solid #ccc;
    width: 917px;
  }
}
.productDescriptionTitle{
  text-align: center;
  font: normal normal bold 24px/35px 'Nunito Sans';
  font-size: 21px;
  color: black
}
@media (max-width: 640px){

.productDescriptionTitle{
  text-align: center;
  font: normal normal bold 24px/35px 'Nunito Sans';
  font-size: 21px;
  color: black;
  padding-top: 61px;
}
}
.content{
    width: 979px;
    text-align: center;
    font: normal normal normal 14px/30px 'Nunito Sans';  
    color: #000000;
    margin: 0 auto;
}
@media (max-width: 640px){
  .content{
    width: 100%;
    max-width: 362px;
    text-align: center;
    font: normal normal normal 14px/30px 'Nunito Sans';  
    color: #000000;
    margin: 0 auto;
}
}

.productBrand--quickview{
  width: 76px;
  height: 19px;
  text-align: center;
  font:  17px 'Nunito Sans';
  
  font-size: 22px;

}
.flexRowContent{
      height: 41px;
      font: normal normal 900 20px/55px 'Nunito Sans';
}

[data-vtex-block-id="flex-layout.row#product-main"]{
  max-width: 1260px;
  margin: 0 auto;
}
@media (min-width: 640px) {

  .autoCompleteOuterContainer--search-desktop{
    width:  933px;
  padding-top: 21px;

}
}
[data-vtex-input-prefix-id="__group"]{
  max-width: 1260px;
  margin: 0 auto;
}
.confirmationTitle--newsletter {
  padding-top: 56px;
  color: #FFFFFF;
  font-size: 22px;

}

.confirmationText--newsletter {
  color: #ffffff;
  font-size: 18px;
}
@media (max-width: 640px){
.searchIcon-desktop{
  color: white
}
}
:global(.vtex-flex-layout-0-x-flexRow--drondes){
  padding-top: 45px;
}

:global(.vtex-store-components-3-x-logoLink){
  margin-top: 10px;
}
.logoLink--logo{
  margin-top: 10px;
}
.logoImage{
  padding-top: 17px;
  margin-right: -88px;
}
@media (max-width: 641px){
.searchBarIcon :global(.vtex-store-components-3-x-searchIcon--search-desktop){
  fill: currentColor;
  color: white;
}
}
.searchBarIcon{
  fill: currentColor;
  color: #4F32FE;
}
@media (max-width: 641px){
  :global(.vtex-login-2-x-profileIcon--profile){
    display: none;
  }
}
:global(.vtex-search-result-3-x-searchResultContainer){
  max-width: 1260px;
  margin: 0 auto;
}
:global(.vtex-search-result-3-x-galleryTitle--layout){
  margin-top:60px;
  font-size: 24px;
}

:global(.vtex-search-result7-x-filterMessage){
  font: normal normal bold 16px/31px 'Nunito Sans';
    letter-spacing: 0px;
    color: #000000;
}
:global(.vtex-store-components-3-x-figure){
  margin-top:30px;
}
.caretIcon{
  color: transparent;
}
.swiperPaginationClickable{
  display: none;
}
:global(.vtex-product-identifier-0-x-product-identifier ){
  font: normal normal 600 12px 'Nunito Sans';
  color: #847B91;
  display: flex;
  justify-content: center;
  margin-bottom: 50px;
  justify-content: flex-start;

}
:global(.vtex-store-components-3-x-productImage){
  margin-top: 50px;
}
:global(.vtex-store-components-3-x-thumbImg) {
  max-width: 86.4px !important;
  background:#F6F5F8;
}
.carouselGaleryThumbs {
  margin-top:20px;
}
:global(.vtex-store-components-3-x-productImageTag--main) {
  max-height: 32.1rem!important;
  max-width: 32.1rem;
  background: #F6F5F8;


}

.shippingContainer :global(.vtex-input)::before {
  content: "Calcule a entrega:";
  white-space: pre-wrap;
  text-align: center;
  font: normal normal bold 14px 'Nunito Sans';
  letter-spacing: 0px;
  color: #000000;
  opacity: 1;
  position: relative;
  top: 10px;
}
.shippingContainer :global(.vtex-input){
  display: flex;
}
.shippingContainer :global(.vtex-input__label){
  display: none;
}

.shippingContainer :global(.vtex-button__label){
  display: none;
}

.shippingContainer :global(.vtex-button)::after{
  content:"OK";
  display: flex;
  justify-content: center;
  align-items: center;
  font: normal normal bold 12px/5px 'Nunito Sans';
  color: #000000;
  opacity: 1;
}
.shippingContainer :global(.vtex-button){
height: 40px;
    width: 40px;
    display: flex;
    align-items: center;
    justify-content: center;
    border: none;
    background-color: #ffffff;
    border-bottom: 1px solid #E4DDEE;
    border-radius: 0px;
}
:global(.vtex-store-components-3-x-shippingContainer){
  display: flex;
  align-items: flex-start;
 
}
.imageElement--storePrint{
  width: 1920px;
  margin: 0px;
}

:global(.vtex-flex-layout-0-x-flexRowContent--about) {
  max-width: 1260px;
  margin: 0 auto;
}

:global(.vtex-flex-layout-0-x-flexRowContent--alltitles){
  max-width: 1260px;
  margin: 0 auto;
}
:global(.vtex-store-components-3-x-container){
  max-width: 1260px;
}
:global(.vtex-store-components-1-x-productImagesGallerySlide){
  width: 100% !important;
}
 :global(.vtex-input__error){
   color: white;
 }
 :global(.vtex-address-form-4-x-input){
   border-bottom: 1px solid #ccc;
 }
  :global(.vtex-minicart-2-x-minicartQuantityBadgeDefault){
  background: #2CFFF5;
  color: #000000;
}
