.row--menu-row {
  padding-right: 24px;
}

.row--menu-row .rowContainer {
  align-items: flex-start;
}

.row--payment-methods {
  padding-top: 16px;
}
.socialNetworksContainer{
  
  height: 67px;
  align-items: center;
  justify-content: center;
}
@media (max-width: 640px){
  .socialNetworksContainer{
    background: #F6F5F8;
    height: 67px;
    align-items: center;
    justify-content: center;
    border-bottom: 1px solid #ccc;
  }
}
.flexRowContent--footer :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-template-rows: 1fr 1fr 1fr;
  column-gap: 10px;
}
.flexRowContainer :global(.vtex-flex-layout-0-x-flexRowContent){
  padding-bottom: 0px;
}
:global(.vtex-flex-layout-0-x-flexRow--alltitles){
  border-bottom: 1px solid #ccc;
}   
@media (min-width:641px){
:global(.vtex-flex-layout-0-x-flexRow--imgsfooter1){
  padding-top:30px;
}
}
@media(max-width:640px){
  :global(.vtex-flex-layout-0-x-flexRow--imgsfooter){
    background: #F6F5F8;
  }
}
