.sliderLayoutContainer {
  justify-content: center;
}
.sliderLayoutContainer--carousel {
  background-color: #F0F0F0;

}

.paginationDotsContainer {
  margin-top: .5rem;
  margin-bottom: .5rem;
}

.layoutContainer--shelf {
  margin-top: 20px;
  margin-bottom: 20px;
  max-width: 96rem;
}

.slide--shelf {
  margin-bottom: 25px;
  padding-left: .5rem;
  padding-right: .5rem;
}
.sliderLayoutContainer--shelf{
  margin-bottom: 60px;
}
.sliderLayoutContainer {
  justify-content: center;
}
.sliderTrackContainer--carousel2{
  max-width: 1260px;
}
.sliderLayoutContainer--shelf{
  max-width: 1260px;
  margin: 0 auto;

}
  .flexRowContent--imgs {
    display: flex;
    justify-content: center;
    margin-top: 50px;
    gap: 22px;
    height: 301px;
    width: 1260px;
    margin-left: 129px;

  }
  .paginationDot--shelf--isActive{
    background: #4F32FE;
  }
.paginationDot--carousel--isActive{
  background: #2CFFF5;
}