.searchBarContainer :global(.vtex-styleguide-9-x-input) {
  
  background: #4F32FE;
 
}


.newsletter {

  max-width: 100%;

  margin: 0 auto;
}
.newsletter .container {
  padding: 60px 10px;
}
.label {
  color: #fff;
  font-size: 15px;
  font-weight: normal;
}
.inputGroup {
  padding-bottom: 4px;
  display: flex;
  color: #fff;
}
.inputGroup :global(.vtex-styleguide-9-x-hideDecorators),
.autoCompleteOuterContainer :global(.vtex-input__suffix) {
  background-color: transparent;
  color: #fff;
  border: none;
}

.inputGroup :global(.vtex-styleguide-9-x-hideDecorators)::placeholder {
  
  font-size: 16px;
}

.inputGroup :global(.vtex-button) {
  background-color: transparent;
  border: none;
  margin-right: -24px;
}

.buttonContainer {
  padding-top: 0px;
  margin-top:50px;
}

.imageElement--storePrint {
  max-height: 300px;
  margin-bottom: 20px;
}

.skuSelectorContainer {
  margin: 1rem 0;
}

@media only screen and (min-width: 640px) {
  .newsletter .container {
    padding: 0px;
  }

  .label {
    font-size: 40px;
  }

  
  .imageElement--storePrint {
    margin-bottom: 0px;
    max-height: 600px;
  }
}

.productImagesContainer--quickview .carouselContainer {
  justify-content: flex-start;
}

.productImagesContainer--quickview .productImageTag {
  object-fit: cover !important;
}

.productImagesContainer--quickview .carouselGaleryThumbs {
  display: none;
}

.productImagesContainer--quickview .carouselGaleryCursor {
  margin: 0;
  padding: 0;
  width: 100%;
}

.productNameContainer {
  color: #3f3f40;
  font-weight: bold;
  font-size: 30px;
}

.imageElement--paper-plane{
  margin: 14px;
}
.searchBarContainer {
  background: #4F32FE;
  border:0px;
  max-width: 100%;
}
.container{
  padding: 0px;
  border:0px;
}
.searchBarContainer ::placeholder {
  color: #ffffff;
  font-family: 'Nunito Sans';
  font-weight: 700;
  letter-spacing: 0;
  vertical-align: middle;
  opacity: 1;
}
.imageElement--sep1{
  padding: 10px;
}
.notificationBarInner{
  background: black;
  height: 41px;
}
.container--newsletter{
  background: #4F32FE;
  height: 271;
  width: 420px;
}
.label--newsletter::before{
  content: "Quer ficar por dentro de tudo?\A\A";
  font-size: 20px;
  font-family: 'Nunito Sans';
  font-weight: 700;
  white-space: pre-wrap;
 
  
}
.label--newsletter::after{
  font-size: 15px;
  font-family: "Nunito Sans";
  text-align: center;
}
.inputGroup :global(.vtex-store-components7-x-buttonContainer){
  background-color: transparent;
  border: none;
  margin-right: 150px;
  margin-top: 50px;
}
.flexRowContent--imgsfooter{
  display: grid;
  grid-template-columns: 0.35fr 0.35fr 0.35fr;
  grid-template-rows: 0.15fr;
  
}


/* Newsletter */

.newsletter :global(.vtex-store-components-3-x-inputGroup) {
  display: block !important;  

}
.newsletter :global(.vtex-button__label){
  font-weight: bold;
  font-family: 'Nunito Sans';
  font-size: 14px; 
}

.imageElement--footer {
  width: 64px;
  height: 43px;
  margin: 3px;
}
.imageElement :global(.vtex-flex-layout-0-x-stretchChildrenWidth){
  background: #F6F5F8;
}

.imageElement--lets{
  width: 121px;
  height: 41px;
}
.imageElement--ebit{
  
  width: 59px;
  height: 50px;
  }

.imageElement--cert{
  width: 89px;
  height: 50px;
}
.imageElement--avanti{
  width: 97px;
  height: 37px;
}
.imageElement--vtex{
  width: 83px;
    height: 32px;
}

